In [38]:
import numpy as np
import pandas as pd

%matplotlib inline

# load training dat
df = pd.read_csv('./model_input/all_parts_cleaned.csv', header=0)

In [39]:
df.tail()

,c_display_id,c_ad_id,label,ad_document_id,ad_id,campaign_id,advertiser_id,source_id,publisher_id,topic_id_10,...,entity_id_ff6a9c05a2a77ce17b177b8c2d24b05e,entity_id_ffa53daad8b5dfd6eee3af7a1d53b6c4,display_id,on_document_id,platform,geo1,geo2,geo3,dayofweek,hours
87571,16703830,123745,0.0,1173103,123745,15889,571,478,523,0.0,...,0.0,0.0,16703830,2792967,2,US,OH,542,0.0,21.0
87572,16746030,510448,0.0,1533032,510448,24063,2281,4054,9999999,0.0,...,0.0,0.0,16746030,2818835,1,US,TX,623,0.0,21.0
87573,16750230,154572,0.0,1381560,154572,19670,1378,6136,1071,0.0,...,0.0,0.0,16750230,2776357,1,AU,05,empty,0.0,21.0
87574,16803630,95725,0.0,1136820,95725,12404,2151,4224,9999999,0.0,...,0.0,0.0,16803630,1202220,2,US,CA,803,0.0,22.0
87575,16865630,125864,0.0,1254163,125864,16121,1896,8457,9999999,0.0,...,0.0,0.0,16865630,2798714,3,US,HI,744,0.0,23.0

In [40]:
dfY = df.ix[:, 'label']
dfY.tail()

87571    0.0
87572    0.0
87573    0.0
87574    0.0
87575    0.0
Name: label, dtype: float64

In [48]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df.ad_document_id = le.fit_transform(df.ad_document_id)

le = preprocessing.LabelEncoder()
df.ad_id = le.fit_transform(df.ad_id)

le = preprocessing.LabelEncoder()
df.campaign_id = le.fit_transform(df.campaign_id)

le = preprocessing.LabelEncoder()
df.advertiser_id = le.fit_transform(df.advertiser_id)

le = preprocessing.LabelEncoder()
df.source_id = le.fit_transform(df.source_id)

le = preprocessing.LabelEncoder()
df.publisher_id = le.fit_transform(df.publisher_id)

le = preprocessing.LabelEncoder()
df.display_id = le.fit_transform(df.display_id)

le = preprocessing.LabelEncoder()
df.geo1 = le.fit_transform(df.geo1)

le = preprocessing.LabelEncoder()
df.geo2 = le.fit_transform(df.geo2)

le = preprocessing.LabelEncoder()
df.geo3 = le.fit_transform(df.geo3)

df2 = df.ix[:, 'label': 'hours']
df2 = df2.drop('on_document_id', 1)
dfX = df2.ix[:, 'ad_document_id': 'hours']

df2.to_csv('./sklearn_df_saved.csv', header=1, index=False)

df2.tail()

,label,ad_document_id,ad_id,campaign_id,advertiser_id,source_id,publisher_id,topic_id_10,topic_id_130,topic_id_140,...,entity_id_fed752e9bacdc0c5090b6fc8c9b23b49,entity_id_ff6a9c05a2a77ce17b177b8c2d24b05e,entity_id_ffa53daad8b5dfd6eee3af7a1d53b6c4,display_id,platform,geo1,geo2,geo3,dayofweek,hours
87571,0.0,5467,7149,4658,393,120,250,0.0,0.0,0.0,...,0.0,0.0,0.0,86502,2,166,259,43,0.0,21.0
87572,0.0,9178,22904,7286,1449,663,561,0.0,0.0,0.0,...,0.0,0.0,0.0,86732,1,166,305,101,0.0,21.0
87573,0.0,7299,9542,5828,885,1151,484,0.0,0.0,0.0,...,0.0,0.0,0.0,86759,1,13,6,211,0.0,21.0
87574,0.0,4929,5689,3776,1371,710,561,0.0,0.0,0.0,...,0.0,0.0,0.0,87020,2,166,123,194,0.0,22.0
87575,0.0,5995,7324,4729,1219,1967,561,0.0,0.0,0.0,...,0.0,0.0,0.0,87336,3,166,171,165,0.0,23.0

In [49]:
import pydot
import StringIO
from IPython.core.display import Image 

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='entropy', max_depth=10).fit(dfX, dfY)

In [37]:
ommand_buf = StringIO.StringIO() 
export_graphviz(model, out_file=command_buf, feature_names=dfX.columns) 
graph = pydot.graph_from_dot_data(command_buf.getvalue())[0] 
image = graph.create_png()
image_buf = StringIO.StringIO() 
image_buf.write(image)
Image(image_buf.getvalue())

NameError: name 'export_graphviz' is not defined

In [50]:
from sklearn.metrics import classification_report
print(classification_report(dfY, model.predict(dfX)))

             precision    recall  f1-score   support

        0.0       0.81      0.99      0.89     70603
        1.0       0.69      0.05      0.10     16973

avg / total       0.79      0.81      0.74     87576

In [51]:
df2 = model.predict(dfX)

In [52]:
df2

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [20]:
df2.size()

TypeError: 'int' object is not callable

In [21]:
df2.length()

AttributeError: 'numpy.ndarray' object has no attribute 'length'

In [22]:
df.size()

TypeError: 'numpy.int64' object is not callable